<!DOCTYPE html>
<html>
  <head>
    <title>CDMX</title>
    <!-- Hightcharts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
    </style>
    <!-- close hightcharts -->
    <!--  bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <link rel="stylesheet" href="estilos.css">
     <style type="text/css">
       #i {
        height: 400px !important;
        overflow: scroll;
        }​
    </style>
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
  </head>
  <body>
    <header>
      <div class="container">
      <h1>Servicios de Salud en la CDMX en los años 2009-2012</h1>
      <p class="help-block">CIUDAD DE MÉXICO</p>
      </div>
    </header>
<div class="container-fluid">
  <div class="row content">
    <!-- inicia Seccion de Filtros-->
    <div class="col-sm-3 sidenav hidden-xs well">
      <h2>Filtros</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Servicios</a></li>
        <li><a href="#section3">Todos los Servicios</a></li>
        <li><a href="#section2">Lista Servicios de ingreso & egreso</a></li>

        <li><a href="#section3">Lista de tipo de Servicios</a></li>
        <li class="active"><a href="#section1">Unidades y Municipios</a></li>
        <li><a href="#section2">Todas las Unidades</a></li>
        <li><a href="#section3">Todos los Municipios</a></li>
        <li><a href="#section3">Aqui mostrare las unidades seleccionadas.</a></li>

        <li class="active"><a href="#section1">Limitantes</a></li>
        <li><a href="#section2">Edad</a></li>
        <li><a href="#section3">Sexo</a></li>
        <li><a href="#section3">Procedencia</a></li>
        <li><a href="#section3">Procedencia</a></li>
        <li><a href="#section3">Lugar del accidente</a></li>
      </ul>
      <br>
    </div>
    <!-- Finaliza Seccion de Filtros-->
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>Dashboard</h4>
        <p>Some text..</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Users</h4>
            <p>1 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sessions</h4>
            <p>10 Million</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bounce</h4>
            <p>30%</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <footer>
      <h3>Jose Enrique Vergara Ambriz</h3>
    </footer>
    <script src="../recursos/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>