<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<section id ="test">
	<h1>objetos JSON</h1>
	<H2>JavaScript </H2>
	<div id ="content"></div>
	</section>

	<script type="text/javascript">
		var unidades = {
  		'datos': []
		};
		/*for (var i = 0; i < 10; i++) {
			session.screens.push({'name':'Jose'+i,'data':i});
		}*/


		unidades.datos.push
		(
			{name: 'unidad',data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]}
		);

		alert(unidades.datos[0].name);


		/*, {
                    name: categorias_unidad[1],
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

                }, {
                    name: categorias_unidad[2],
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

                }, {
                    name: categorias_unidad[3],
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

                },{
                    name: categorias_unidad[4],
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

                }*/

		

	/*var miObjeto = new Object();
	miObjeto.nombre = "Pedro";
	miObjeto.edad = 12;
	miObjeto.mascota = "Gato";
	 
	var myString = JSON.stringify(miObjeto);
	alert(myString.nombre);

		var o="";
		var objetos ={"Personas":[
			{"name":"Jose", "data":22},
			{"name":"Enrique","data":22}
		]};
		//document.getElementById('content').ineerHTML = objetos.Personas[0].name;

		
		for (var i = 0; i < 10; i++) {
			o.Personas.push({"name":"Enrique"+i,"data":22});
		}

		objetos.Personas.push({"name":"Jose Enrique","data":22});
		



		alert( objetos.Personas[2].name);
		alert( o.Personas[2].name);*/
	</script>
</body>
</html>