<!DOCTYPE html>
<html>
<head>
	<title>palabras</title>
	    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">

    <style type="text/css">${demo.css}</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="grafica.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<meta name="description" content="A Word Cloud plugin for jQuery.">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="jquery.awesomeCloud-0.2.min.js"></script>
        <div id="wordcloud2">
          <!--<span data-weight="9">enrique</span><span data-weight="27">gripa</span><span data-weight="38">toz</span><span data-weight="43">columna</span><span data-weight="20">hueso</span><span data-weight="19">cabeza</span><span data-weight="26">sida</span>-->
        </div>
<script type="text/javascript">
        	function words_nube(valor){
			  $.ajax({
			    url:'../controladores/afecciones.php',
			    type:'POST',
			    data:'valor='+valor+'&boton=words_nube'
			  }).done(function(resp){
			    alert(resp);
			    var valores=eval(resp);
			    html='';
			    for (var i = 0; i < valores.length; i++) {
			      html+='<span data-weight="'+valores[i]['conteo_afeccion_principal']+'">'+valores[i]['afeccion_principal']+'</span>';   
			    }
			    $("#wordcloud2").html(html);
			  });
			}
			words_nube();
        </script>


        <script type="text/javascript" src="../recursos/nube.js"></script>
        <div class="clearfix visible-sm-block"></div>
        
</body>
</html>